[Unit]
Description=Network AddressBook ICMP poller
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/nab/venv/bin/nab-icmp-poller --config /opt/nab/etc/config-icmp-poller.yaml

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=30
# Value can be one of inherit, null, tty, journal, syslog, kmsg, journal+console, syslog+console, kmsg+console or socket
# StandardOutput=syslog

[Install]
WantedBy=multi-user.target

