/*  http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  height: 2.9rem;
  border-bottom: 1px solid black;
}

.app-wrap {
  height: calc(100vh - 2.9rem);
  display: flex;
}

main {
  flex: 1;
  display: flex;
}
@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
}
 
aside {
  flex: 1;

  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}
 
article {
  flex: 3;
  padding: 1em;
  overflow-y: auto;
}

aside > .header {
  font-size: 16pt;
  border-bottom: 1px solid black;
  display: flex;
}

aside > .header > input {
  border: none;
  flex: 1;
}

aside > .content {
  flex: 1;
  overflow-y: scroll;
}


.host-ip-list-item, .host-mac-list-item {
  display: flex;

  border: 1px solid black;
  margin-bottom: -1px;
}

.ip-interface-name, .ip-addr, .ip-network, .ip-buttons, .mac-interface-name, .mac-buttons {
  flex: 1;
}

.ip-message, .mac-message {
  flex: 3;
}

.host-ip-list-item input, .host-ip-list-item select, .host-mac-list-item input, .host-mac-list-item select {
  border: none;
}

.mac-addr {
  flex: 2;
}


.error-messages {
  border: 1px solid red;
}

.groups-tree-navigator > ul {
  height: 300px;
  overflow-y: scroll;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}


.event .label, .event.header {
  display: flex;
}

.event.header {
  border-bottom: 1px solid gray;
}

.event .label > *, .event.header > * {
  flex: 1;
}

.event .label .hostname, .event.header .hostname {
  flex: 3;
}

.event .label a {
  color: black;
  text-decoration: none;
}

.event > .label {
  background-color: #FFF;
  border-left: 1px solid black;
}
.event:nth-child(2n + 1) > .label {
  background-color: #DDD;
}
.event.unreachable > .label > .status {
  background-color: #F77;
}
.event.unreachable:nth-child(2n + 1) > .label > .status {
  background-color: #D77;
}

.event.alive > .label > .status {
  background-color: #7F7;
}
.event.alive:nth-child(2n + 1) > .label > .status {
  background-color: #6D6;
}


.event .subevents-toggle {
  min-width: 70px;
  flex: 0;
  cursor: pointer;
}
.event .subevents-toggle select {
  width: 40px;
}
.event .subevents {
  border-right: 5px solid black;
  margin-right: -5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.event .subevents .label {
  border-left: none;
}
/*
.event.unreachable .subevents {
  border-right-color: #F77;
}
.event.unreachable:nth-child(2n + 1) .subevents {
  border-right-color: #D77;
}
.event.alive .subevents {
  border-right-color: #7F7;
}
.event.alive:nth-child(2n + 1) .subevents {
  border-right-color: #6D6;
}
*/

.events-archive .item, .events-archive .list-header {
  display: flex;
  max-height: 25px;
}

.events-archive .item > *, .events-archive .list-header > * {
  flex: 1;
}

.events-archive .severity {
  max-width: 100px;
}

.events-archive .time {
  max-width: 200px;
}

.events-archive .service {
  max-width: 10%;
}

.events-archive .checkbox {
  max-width: 25px;
  text-align: center;
}

.events-archive .severity option.unknown {
  background-color: #DDD;
}
.events-archive .severity option.info {
  background-color: #5BC;
}
.events-archive .severity option.warning {
  background-color: #FC3;
}
.events-archive .severity option.critical {
  background-color: #F77;
}
.events-archive .severity option.ok {
  background-color: #7E7;
}


.events-list .item.odd {
  background-color: #EEE;
}

.events-list .item:hover {
  background-color: #DDF;
}

.events-list .item .severity {
  text-align: center;
}

.events-list .item:not(:hover) .severity.critical {
  background-color: #F77;
}
.events-list .item.odd:not(:hover) .severity.critical {
  background-color: #E77;
}

.events-list .item:not(:hover) .severity.ok {
  background-color: #7E7;
}
.events-list .item.odd:not(:hover) .severity.ok {
  background-color: #6E6;
}

.events-archive .controls {
  display: flex;
  max-height: 25px;
  margin-bottom: 5px;
}

.events-archive .controls > * {
}

.events-archive {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.events-archive > * {
  flex: 1;
}

.events-list {
  border: 1px solid black;
  overflow-y: scroll;
}


.clickable {
  cursor: pointer;
}


nav {
  display: flex;
}

nav a {
  margin: 0.5em;
}

.rdtPicker td {
  cursor: pointer;
}
