.treemenu-item {
    position: relative;
}

.treemenu-item-btns .reload {
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
}

.treemenu-item-btns {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
}

.treemenu-item-btns > *:hover {
    background: black;
    color: white;
}

.treemenu-item-label:hover {
    background-color: #DDD;
}

.treemenu-item-label:hover .treemenu-item-btns {
    display: block;
}

.treemenu-item-label .icon {
    margin-right: 4px;
}

.treemenu-item .valid-drop-target {
    background-color: orange;
}

.treemenu-item .loader {
}

.treemenu-item .icon {
}

.treemenu-item-label {
    display: flex;
}
.treemenu-item-toggle {
    width: 20px;
    cursor: pointer;
    overflow:hidden;
    margin-right: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.treemenu-item .label {
    margin-left: 0px;
    cursor: pointer;
}

.treemenu, .treemenu ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.treemenu-item ul {
    padding-left: 24px;
}

.treemenu-item a {
    color: black;
    text-decoration: none;
}

.treemenu-item.selected > .treemenu-item-label {
  background-color: orange;
}
