.button {
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #888;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button:hover:not(:disabled) {
    border: 1px solid #000;
}

.button:disabled {
    background-color: #EEE;
    color: #444;
}

.form {
}

.field {
    display: flex;
}

.field > * {
    flex: 1;
}

.field label {
    flex: 0.25;
}
